<div class="btn-group">

  <button type="button"
          class="btn"
          ng-click="$ctrl.asUnread({message: $ctrl.selectedMessage})"
          ng-class="$ctrl.selectedMessage.isUnread ?
                    'btn-success' : 'btn-primary'">
    {{$ctrl.selectedMessage.isUnread ?
      'Как прочитанное' : 'Как непрочитанное'}}
    <span class="glyphicon"
          ng-class="$ctrl.selectedMessage.isUnread ?
                    'glyphicon-ok' : 'glyphicon-repeat'">
  </button>

  <button type="button"
          class="btn"
          ng-click="$ctrl.asImportant({message: $ctrl.selectedMessage})"
          ng-class="$ctrl.selectedMessage.isImportant ?
                    'btn-success' : 'btn-warning'">
    {{$ctrl.selectedMessage.isImportant ?
      'Как обычное' : 'Как важное'}}
    <span class="glyphicon"
          ng-class="$ctrl.selectedMessage.isImportant ?
                    'glyphicon-eye-close' : 'glyphicon-warning-sign'">
  </button>

  <button type="button"
          class="btn btn-success"
          ng-click="$ctrl.retrieve({message: $ctrl.selectedMessage})"
          ng-if="$ctrl.selectedMessage.oldFolderId">
    Вернуть в {{$ctrl.selectedMessage.oldFolderName}}
    <span class="glyphicon glyphicon-share-alt"></span>
  </button>

  <button type="button"
          class="btn btn-info"
          ng-click="$ctrl.archive({message: $ctrl.selectedMessage})"
          ng-if="!$ctrl.selectedMessage.oldFolderId">
    Архив <span class="glyphicon glyphicon-folder-close"></span>
  </button>

  <button type="button"
          class="btn btn-warning"
          ng-click="$ctrl.spam({message: $ctrl.selectedMessage})"
          ng-if="!$ctrl.selectedMessage.oldFolderId">
      Спам <span class="glyphicon glyphicon-thumbs-down"></span>
  </button>

  <button type="button"
          class="btn btn-danger"
          ng-click="$ctrl.remove({message: $ctrl.selectedMessage})">
    Удалить <span class="glyphicon glyphicon-trash"></span>
  </button>

</div>